@page
@model eBookStore.Pages.Books.EditModel
@{
}
<h2>Chỉnh sửa sách</h2>
<form method="post">
    <input asp-for="Book.book_id" type="hidden" />

    <label>Title:</label>
    <input asp-for="Book.Title" class="form-control" />

    <label>Type:</label>
    <input asp-for="Book.type" class="form-control" />

    <label>Publisher Id:</label>
    <input asp-for="Book.pub_id" class="form-control" />

    <label>Price:</label>
    <input asp-for="Book.price" type="number" step="0.01" class="form-control" />

    <label>Advance:</label>
    <input asp-for="Book.advance" class="form-control" />

    <label>Royalty:</label>
    <input asp-for="Book.royalty" class="form-control" />

    <label>YTD Sales:</label>
    <input asp-for="Book.ytd_sales" type="number" step="1" class="form-control" />

    <label>Notes:</label>
    <textarea asp-for="Book.notes" class="form-control"></textarea>

    <label>Published Date:</label>
    <input asp-for="Book.published_date" type="date" class="form-control" />

    <button type="submit" class="btn btn-success">Lưu</button>
</form>
